.about-us {
  padding-top: 37px;
  padding-bottom: 110px;
}

.about-us__wrapper {
  padding-left: 180px;
  background-image: url("../img/year.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -3%;
}

.about-us__title {
  @include reset();
  margin-bottom: 20px;
  font-family: $font_family_alt;
  font-size: 36px;
  line-height: 51px;
  font-weight: $font_weight_normal;
}

.about-us p {
  @include reset();
  margin-bottom: 20px;
}

.about-us__short-description {
  display: none;
}

.about-us__btn {
  margin-top: 18px;
  max-width: 180px;
}

@media (max-width: $width_desctop) {
  .about-us {
    padding-top: 0;
    padding-bottom: 84px;
  }

  .about-us__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 24px;
  }

  .about-us__wrapper {
    padding-left: 187px;
    background-position: -28px;
  }

  .about-us__long-description {
    display: none;
  }

  .about-us__short-description {
    display: block;
  }

  .about-us__btn {
    margin-top: 23px;
  }
}

@media (max-width: $width_tablet) {
  .about-us {
    padding-top: 11px;
    padding-bottom: 64px;
  }

  .about-us__wrapper {
    padding-left: 1px;
    background-image: none;
  }

  .about-us__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 39px;
  }

  .about-us__short-description {
    margin-top: 40px;
  }

  .about-us__btn {
    margin-top: 9px;
  }
}
