.button,
button[type="submit"] {
  padding: 12px 14px 13px 8px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-family: $font_family_alt;
  font-weight: $font_weight_bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $color_blue;
  border: 1px solid $color_blue;
  border-radius: 5px;
  background-color: transparent;

  // &:hover {
  //   color: $color_white;
  //   background-color: $color_greyish_brown;
  // }

  // &:active,
  // &:focus {
  //   color: rgba($color: $color_white, $alpha: 0.3);
  //   background-color: $color_greyish_brown;
  // }
}

button[type="submit"] {
  color: $text_color_sub;
  border: 1px solid $color_white;
}
