.button,
button[type="submit"] {
  padding: 12px 14px 15px 11px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-family: $font_family_alt;
  font-weight: $font_weight_bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $color_blue;
  border: 1px solid $color_blue;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  @include interactive();
}

button[type="submit"] {
  color: $text_color_sub;
  border: 1px solid $color_white;
}
