.catalog {
  padding-top: 93px;
  padding-bottom: 100px;
  background-color: $color_blue_green_dark;
}

.catalog__title {
  @include reset();
  margin-bottom: 47px;
  font-family: $font_family_alt;
  font-size: 36px;
  line-height: 51px;
  font-weight: $font_weight_normal;
  color: $text_color_sub;
}

.catalog__list {
  @include list-reset ();
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  position: relative;
  min-height: 620px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: calc(33% - 17px);

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.catalog__link {
  position: relative;
  padding: 45px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  text-decoration: none;

  &--manufacturing::before {
    @include substrate();
    background-image: url("../img/service-manufacturing-desktop.png");
  }

  &--mounting::before {
    @include substrate();
    background-image: url("../img/service-mounting-desktop.png");
  }

  &--components::before {
    @include substrate();
    background-image: url("../img/components-desktop.png");
  }

  @include interactive();
}

.catalog__item-title {
  @include reset();
  width: 170px;
  font-family: $font_family_alt;
  font-size: 20px;
  line-height: 30px;
  font-weight: $font_weight_normal;
  color: $text_color_sub;
}

.catalog__btn {
  position: absolute;
  padding: 0;
  font-size: 0;
  width: 63px;
  height: 63px;
  background-color: $color_blue;
  border: none;
  bottom: 0;
  right: 0;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid $color_white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
    right: 50%;
  }

  @include interactive();
}

@media (max-width: $width_desctop) {
  .catalog {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .catalog__title {
    font-size: 32px;
    line-height: 45px;
  }

  .catalog__list {
    flex-direction: column;
  }

  .catalog__item {
    min-width: 715px;
    min-height: 256px;
    margin-right: 0;
    display: flex;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 47px;
    }
  }

  .catalog__link {
    height: auto;

    padding-top: 45px;

    &--manufacturing::before {
      background-image: url("../img/service-manufacturing-tablet.png");
    }

    &--mounting::before {
      background-image: url("../img/service-mounting-tablet.png");
    }

    &--components::before {
      background-image: url("../img/components-tablet.png");
    }
  }
}

@media (max-width: $width_tablet) {
  .catalog {
    padding-bottom: 35px;
  }

  .catalog__title {
    margin-bottom: 41px;
    font-size: 28px;
    line-height: 39px;
  }

  .catalog__item {
    min-width: 290px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .catalog__link {
    padding-top: 21px;
    padding-left: 35px;

    &--manufacturing::before {
      background-image: url("../img/service-manufacturing-mobile.png");
    }

    &--mounting::before {
      background-image: url("../img/service-mounting-mobile.png");
    }

    &--components::before {
      background-image: url("../img/components-mobile.png");
    }
  }
}
