.feedback {
  padding-top: 90px;
  padding-bottom: 113px;
  color: $color_white;
  background-color: $color_blue;
}

.feedback form {
  margin-left: auto;
  width: 573px;
  z-index: 10;
}

.feedback .page-main__section-wrapper {
  position: relative;
}

.feedback .page-main__section-wrapper::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 66px;
  width: 44%;
  height: 100%;
  background-image: url("../img/paper_airplane.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback legend {
  margin-bottom: 9px;
}

.feedback__form-subtitle {
  margin-bottom: 50px;
  padding-left: 3px;
}

.feedback__form-list {
  margin-bottom: 38px;
  padding-left: 4px;
}

.feedback__form-item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  flex-grow: 1;

  &:nth-child(2n+1) {
    margin-right: 30px;
  }
}

.feedback input {
  padding-left: 16px;
}

.feedback textarea {
  min-height: 154px;
  padding-left: 16px;
}

.feedback button[type="submit"] {
  margin-right: 23px;
  width: 270px;
}

@media (max-width: $width_desctop) {
  .feedback {
    padding-top: 81px;
    padding-bottom: 104px;
  }

  .feedback .page-main__section-wrapper::before {
    background-image: none;
    display: none;
  }

  .feedback form {
    width: 82%;
    margin: 0 auto;
  }

  .feedback legend {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 45px;
  }

  .feedback__form-subtitle {
    margin-bottom: 54px;
  }

  .feedback__form-list {
    margin-bottom: 44px;
  }

  .feedback__form-item {
    &:not(:last-child) {
      margin-bottom: 42px;
    }
  }

  .feedback button[type=submit] {
    margin-right: 25px;
    width: 279px;
  }
}

@media (max-width: $width_tablet) {
  .feedback {
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .feedback form {
    width: 100%;
  }

  .feedback legend {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 39px;
  }

  .feedback__form-subtitle {
    margin-bottom: 24px;
  }

  .feedback__form-list {
    margin-bottom: 27px;
  }

  .feedback__form-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 33px;

    &:nth-child(2n+1) {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .feedback textarea {
    min-height: 104px;
    padding-left: 13px;
  }

  .feedback button[type="submit"] {
    margin-bottom: 25px;
    margin-right: 0;
    width: 100%;
  }

  .feedback input {
    padding-left: 13px;
  }
}
