.footer-nav {
  margin-left: 11%;
  width: 604px;
  box-sizing: border-box;

  @media (max-width: 1390px) {
    margin-left: 0;
  }

  @media (max-width: 1237px) {
    width: 320px;
  }
}

.footer-nav__list {
  @include list-reset();
  opacity: 0.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav__item {
  width: 44%;

  @include interactive();

  &--three {
    order: 7;
  }

  &--location {
    order: 8;
  }

  &--end {
    order: 9;
  }
}

.footer-nav__item a {
  display: block;
  text-decoration: none;
  color: $text_color_footer;
  width: 100%;
}

@media (max-width: $width_desctop) {
  .footer-nav {
    margin-left: 0;
  }

  .footer-nav__item {
    margin-right: 0;
    width: 100%;
    order: inherit;
  }

  .footer-nav__list {
    flex-direction: column;
  }
}

@media (max-width: $width_tablet) {
  .footer-nav {
    width: 100%;
  }
}
