// .footer-nav {

// }

.footer-nav__list {
  @include list-reset();
  opacity: 0.5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // height: 100px;
}

.footer-nav__item {
  min-width: 235px;
  margin-right: 65px;
}

// @media (max-width: 1023px) {
//   .footer-nav__list {

//   }

// }

// @media (max-width: 767px) {

// }
