.footer-nav {
  margin-left: auto;
}

.footer-nav__list {
  @include list-reset();
  opacity: 0.5;
  max-width: 700px;
  column-count: 2;
}

.footer-nav__item {
  min-width: 235px;
  margin-right: 65px;

  @include interactive();
}

.footer-nav__item a {
  text-decoration: none;
  color: $text_color_footer;
}

@media (max-width: 1023px) {
  .footer-nav {
    margin-left: 0;
  }

  .footer-nav__item {
    margin-right: 0;
  }

  .footer-nav__list {

    column-count: auto;
  }
}

@media (max-width: 767px) {
  .footer-nav__list {
    display: none;
  }
}
