.form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form legend {
  @include reset();
  font-family: $font_family_alt;
  font-size: 36px;
  line-height: 51px;
  font-weight: $font_weight_normal;
}

.form__subtitle {
  @include reset();
}

.form__list {
  @include list-reset ();
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;

  &--column {
    flex-direction: column;
  }
}

.form__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--grow {
    width: 100%;
  }
}

.form__item label {
  display: none;
}

.form input,
.form textarea {
  padding: 14px 0 14px 24px;
  width: 100%;
  box-sizing: border-box;
  font-family: $font_family_base;
  font-size: 16px;
  line-height: 22px;
  font-weight: $font_weight_normal;
  color: $text_color_sub;
  background-color: rgba($color: $color_white, $alpha: 0.1);
  border: 0;
  cursor: pointer;
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: $text_color_sub;
}

.form textarea {
  resize: none;
}

.form__btn-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form__agree {
  @include reset();
  padding: 0 2px 6px 47px;
  position: relative;
  font-size: 14px;
  line-height: 16px;

  &--fix-width {
    width: 270px;
    box-sizing: border-box;
    padding: 7px 0 6px 41px;
  }
}

.form__agree label {
  display: block;
  opacity: 0.8;
  cursor: pointer;

  @include interactive();

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    display: block;
    border: 1px solid $color_white;
    background-image: url("../../img/icon-checkbox.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.form__agree--fix-width label::before {
  top: 8px;
  left: 11px;
}

.form__agree input {
  display: none;
}

.form__agree input:checked + label::before {
  background-image: none;
}

@media (max-width: $width_tablet) {
  .form__agree--fix-width {
    padding-left: 34px;
    width: 100%;

    &::before {
      left: 0;
    }
  }
}
