.main-screen {
  min-height: 878px;
  background: url("../img/background@1x.png") repeat,
    url("../img/circuits@1x.png") no-repeat 85% 70%,
    url("../img//mask-triangles.svg") no-repeat 85% 70% $color_blue_green_dark;
  padding-top: 316px;
  box-sizing: border-box;
}

.main-screen__wrapper {
  position: relative;
  max-width: 1420px;
  margin: 0 auto;
}

.main-screen h1,
.main-screen p {
  @include reset();
  color: $text_color_sub;
}

.main-screen h1 {
  margin-bottom: 27px;
  max-width: 720px;
  font-family: $font_family_alt;
  font-weight: $font_weight_bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.main-screen p {
  position: relative;
  max-width: 650px;
  margin-left: 98px;
  margin-bottom: 43px;
  font-size: 22px;
  line-height: 34px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -95px;
    width: 66px;
    height: 2px;
    background-color: $color_white;
  }
}

.main-screen__btn {
  margin-left: 98px;
  margin-bottom: 30px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 407px;
  background-color: $background_color_element;
  color: $text_color_sub;
  font-size: 16px;
  line-height: 19px;

  &--short {
    display: none;
  }
}

.main-screen__anchor {
  position: absolute;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: $text_color_sub;
  opacity: 0.5;
  transform: rotate(-90deg);
  top: 419px;
  left: -35px;

  @include interactive();
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .main-screen {
    background: url("../img/background@2x.png") repeat,
      url("../img/circuits@2x.png") no-repeat cover,
      url("../img//mask-triangles.svg") no-repeat 85% 70% $color_blue_green_dark;
  }
}

@media (max-width: $width_desctop) {
  .main-screen {
    padding-top: 189px;
    min-height: 686px;
    background: url("../img/background@1x.png") no-repeat,
      url("../img/circuits@1x.png") no-repeat 166% 33%,
      url("../img//mask-triangles.svg") no-repeat 166% 33% $color_blue_green_dark;
    background-size: cover, 60%;
  }

  .main-screen__wrapper {
    padding-left: 62px;
  }

  .main-screen h1 {
    max-width: 500px;
    font-size: 60px;
    line-height: 70px;
  }

  .main-screen__anchor {
    display: none;
  }

  .main-screen p {
    max-width: 400px;
    margin-left: 51px;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
      top: 17px;
      left: -48px;
    }
  }

  .main-screen__btn {
    margin-left: 51px;
    width: 379px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .main-screen {
      background: url("../img/background@2x.png") no-repeat,
        url("../img/circuits@2x.png") no-repeat 166% 33%,
        url("../img//mask-triangles.svg") no-repeat 166% 33% $color_blue_green_dark;
      background-size: cover, 60%;
    }
  }
}

@media (max-width: $width_tablet) {
  .main-screen {
    padding-top: 286px;
    min-height: 647px;
    background: url("../img/background@1x.png") no-repeat,
      url("../img/circuits@1x.png") no-repeat 161% 22% $color_blue_green_dark;
    background-size: cover, 95%;
  }

  .main-screen__wrapper {
    padding-left: 0;
  }

  .main-screen h1 {
    width: 300px;
    font-size: 40px;
    line-height: 47px;
  }

  .main-screen p {
    margin-bottom: 40px;
    max-width: 280px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
    }
  }

  .main-screen__btn {
    margin-left: 0;
    width: 100%;

    &--long {
      display: none;
    }

    &--short {
      display: block;
      padding-left: 16px;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .main-screen {
      background: url("../img/background@2x.png") no-repeat,
        url("../img/circuits@2x.png") no-repeat 161% 22% $color_blue_green_dark;
      background-size: cover, 95%;
    }
  }
}
