.main-nav {
  @include inner();

  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
  max-width: 1414px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav__toggle {
  padding: 0;
  display: block;
  width: 37px;
  height: 52px;

  position: relative;

  background-color: transparent;

  cursor: pointer;
  border: none;
  font-size: 0;

  &--closed::before {
    content: "";

    position: absolute;

    width: 37px;
    height: 1px;
    top: 40%;
    left: 0;

    background-color: #ffffff;
    box-shadow: 0 11px 0 0 #ffffff;
  }

  @include interactive();
}

@media (max-width: $width_desctop) {
  .main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-nav__toggle {
    margin-right: 35px;

    &--closed::before {
      top: 33%;
    }
  }
}

@media (max-width: $width_tablet) {
  .main-nav {
    padding-top: 16px;
    padding-bottom: 17px;
  }

  .main-nav__toggle {
    height: 38px;
    margin-right: 23px;

    &--closed::before {
      top: 30%;
    }
  }
}
