.other-info {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1461px;
  box-sizing: border-box;
}

.other-info__list {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.04em;

  @include list-reset();

  opacity: 0.5;
}

.other-info__list-item {
  // font-family: $font_family_base;
  // font-size: 13px;
  // line-height: 24px;
  // color: $text_color_footer;
  // font-weight: $font_weight_normal;
  // text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--copyright {
    margin-left: auto;
  }

  &--years {
    margin-left: 60px;
  }

  &--confidential {
    margin-left: 130px;

    @media (max-width: 1200px) {
      margin-left: auto;
    }
  }
}

.other-info__list-item p {
  @include reset();

  padding-top: 4px;
  padding-bottom: 4px;
  font-family: $font_family_base;
  font-size: 13px;
  line-height: 24px;
  color: $text_color_footer;
  font-weight: $font_weight_normal;
  text-transform: uppercase;
}

.other-info__link {
  @include link-reset();
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: $font_family_base;
  font-size: 13px;
  line-height: 24px;
  color: $text_color_footer;
  font-weight: $font_weight_normal;
  text-transform: uppercase;
  display: block;
  cursor: pointer;

  @include interactive();
}

@media (max-width: $width_desctop) {
  .other-info {
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .other-info__list-item--confidential {
    margin-left: 0;
  }

  .other-info__list-item--none {
    display: none;
  }
}

@media (max-width: $width_tablet) {
  .other-info {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .other-info__list {
    flex-direction: column;
    align-items: center;
  }

  .other-info__list-item {
    &:not(:last-child) {
      margin-bottom: 13px;
      margin-right: 0;
    }

    &--copyright {
      margin-left: 0;
    }
  }
}
