.page-footer {
  margin: 0 auto;
  font-size: 15px;
  line-height: 25px;
  color: $text_color_footer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-footer__container {
  margin: 0 auto;
  max-width: 1465px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.page-footer__section {
  @include inner();
  padding-top: 65px;
  padding-bottom: 60px;

  &--pressed {
    margin-left: auto;
  }
}

.page-footer__wrapper {
  width: 100%;
  border-top: $border_footer;
}

.page-footer__social {
  width: 270px;
  box-sizing: border-box;
}

.page-footer h3 {
  @include reset();
  margin-bottom: 24px;
  font-family: $font_family_alt;
  font-weight: $font_weight_normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.page-footer__year {
  @include reset();
  text-decoration: none;
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 13px;
  line-height: 24px;
  color: #1b2d37;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  display: none;
  opacity: 0.5;
}

.page-footer__toggle {
  position: absolute;
  top: 30px;
  right: 17px;
  width: 16px;
  height: 16px;
  font-size: 0;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
  cursor: pointer;

  &--open {
    background-image: url("../img/toggle-expand.svg");
  }

  &--close {
    background-image: url("../img/toggle-collapse.svg");
  }

  @include interactive();
}

@media (max-width: $width_desctop) {
  .page-footer__container {
    margin-bottom: 12px;
    justify-content: space-between;
  }

  .page-footer__section {
    padding-top: 19px;
    padding-bottom: 24px;

    &--pressed {
      margin-left: 0;
    }
  }

  .page-footer__social {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: $border_footer;
  }

  .page-footer__year {
    display: block;
  }
}

@media (max-width: $width_tablet) {
  .page-footer__container {
    flex-direction: column;
    margin-bottom: 0;
  }

  .page-footer__section {
    padding-top: 28px;
    padding-bottom: 25px;
    margin-bottom: 0;
    position: relative;
    flex-direction: column;
    border-top: $border_footer;
  }

  .page-footer__social {
    padding-top: 46px;
    padding-bottom: 52px;
    align-items: center;
    border-bottom: none;
    box-sizing: border-box;
  }

  .page-footer__logo {
    margin-bottom: 24px;
  }

  .page-footer__year {
    margin-bottom: 32px;
  }

  .page-footer__toggle {
    display: block;
  }

  .page-footer__wrapper {
    border-top: none;
  }

  .page-footer h3 {
    margin-bottom: 0;

    &--close {
      margin-bottom: 0;
    }
  }
}
