.page-header {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 320px;
  background-color: $color_blue_green_dark;
}

// @media (max-width: 1023px) {
//   .page-header {
//     background-color: red;
//   }
// }

// @media (max-width: 767px) {
//   .page-header {
//     background-color: black;
//   }
// }
