.social-list {
  @include list-reset();
  display: flex;
}

.social-list__item {
  width: 27px;
  height: 27px;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 16px;
  }

  @include interactive();
}
