@mixin inner() {
  padding-left: 25px;
  padding-right: 25px;

  @media (max-width: $width_tablet) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@mixin reset() {
  margin: 0;
  padding: 0;
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset() {
  text-decoration: none;
}

@mixin substrate() {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}

@mixin interactive() {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
